# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
workspace/

# Django
*.log
*.pot
db.sqlite3
db.sqlite3-journal

# Static files
staticfiles/

# Media files
media/

# Environment variables
.env
.venv
env/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
